<section id="offers">
    <h2>Offers</h2>

    <table id="offers-list" class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Hotel</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#offer of offers">
            <td>{{offer.name}}</td>
            <td>{{offer.price}}</td>
            <td>
                <button class="pure-button" (click)="addOfferToCart(offer)">add to cart</button>
            </td>
        </tr>
        </tbody>
    </table>

</section>
